@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    width: 1210px;
}

.header {
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #d8d8d8;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 300;
    >.container {
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .logo {
            height: 40px;
            display: inline-block;
            width: 133px;
        }
        .position {
            display: inline-block;
            margin-left: 20px;
            position: relative;
            >p {
                display: inline-block;
            }
            >.trian {
                width: 10px;
                height: 5px;
                background-image: url(../../pc图片/img/sprite_webpage.png);
                background-repeat: no-repeat;
                background-position-x: 0;
                background-position-y: -63px;
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 7px;
            }
            >.city {
                width: 400px;
                height: 300px;
                background-color: #ffffff;
                display: none;
                position: absolute;
                top: 20px;
                overflow-y: scroll;
                >.at {
                    border-bottom: 1px solid gray;
                }
                >.other {
                    >div {
                        display: flex;
                        flex-wrap: wrap;
                        >p {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
        .position:hover {
            >.city {
                display: block;
            }
        }
        .nav {
            width: 320px;
            margin-left: 70px;
            height: 80px;
            ul {
                display: flex;
                justify-content: space-between;
                width: 320px;
                li {
                    list-style: none;
                    text-align: center;
                    width: 80px;
                    line-height: 80px;
                    a {
                        width: 80px;
                        height: 80px;
                        display: block;
                        color: #000000;
                        background-color: #ffffff;
                    }
                    a:hover {
                        color: #ef4238;
                        cursor: pointer;
                    }
                }
            }
        }
        .search {
            float: right;
            width: 260px;
            position: relative;
            margin-left: 270px;
            input:first-of-type {
                width: 220px;
                height: 38px;
                padding: 0 40px 0 20px;
                display: inline-block;
                border: 1px solid #cccccc;
                background-color: #faf8fa;
                border-radius: 30px;
                color: #8f8e8f;
                outline: none;
            }
            input:last-of-type {
                width: 40px;
                height: 40px;
                position: absolute;
                left: 242px;
                top: 0;
                border-radius: 30px;
                border: none;
                background-image: url(../../pc图片/img/sprite_webpage.png);
                background-repeat: no-repeat;
                background-position-x: 0px;
                background-position-y: -0px;
                outline: none;
            }
        }
        .user {
            width: 56px;
            height: 80px;
            margin-left: 40px;
            position: relative;
            img {
                width: 40px;
                height: 40px;
                margin-top: 20px;
            }
            >.trian {
                width: 10px;
                height: 5px;
                background-image: url(../../pc图片/img/sprite_webpage.png);
                background-repeat: no-repeat;
                background-position-x: 0;
                background-position-y: -63px;
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 7px;
            }
            >.login {
                background-color: #ffffff;
                display: none;
                position: absolute;
                width: 40px;
                height: 50px;
                top: 70px;
                line-height: 50px;
                text-align: center;
                // top: 20px;
            }
        }
        .user:hover {
            >.login {
                display: block;
            }
        }
    }
}

.empty {
    height: 80px;
}

.main {
    padding-top: 30px;
    .container {
        .main-con {
            display: flex;
            justify-content: space-between;
            >.main-left {
                width: 740px;
                margin-bottom: 150px;
                >.art {
                    >p {
                        font-size: 12px;
                        color: #999999;
                    }
                }
                >.content {
                    width: 740px;
                    margin-bottom: 40px;
                    p {
                        font-size: 16px;
                    }
                    .deep {
                        font-weight: 600;
                    }
                    .red {
                        font-weight: 600;
                        color: #e33737;
                    }
                    >h1 {
                        width: 700px;
                    }
                    >.content-1 {
                        margin: 50px 0;
                        width: 740px;
                        >img {
                            margin: 35px 0;
                        }
                    }
                    >.content-2 {
                        width: 740px;
                        img {
                            margin-top: 35px;
                        }
                        >h1 {
                            color: #e33737;
                        }
                        >p {
                            margin-top: 40px;
                        }
                    }
                    >.content-3 {
                        width: 740px;
                        margin-bottom: 40px;
                        img {
                            margin-top: 35px;
                        }
                        >h1 {
                            color: #e33737;
                        }
                        >p {
                            margin-top: 40px;
                        }
                    }
                    .content-tail {
                        margin-top: 50px;
                        margin-left: 270px;
                        >p {
                            color: #ef4238;
                            display: inline-block;
                            border: 1px solid #ef4238;
                            border-radius: 20px;
                            font-size: 14px;
                            padding: 10px;
                            vertical-align: middle;
                            margin: 0 20px;
                        }
                    }
                }
                >.comment {
                    .comment-top {
                        >p {
                            border-left: 4px solid #ef4238;
                            padding-left: 4px;
                        }
                    }
                    >.comment-con {
                        >ul {
                            >li {
                                margin-top: 20px;
                                list-style: none;
                                >.head {
                                    margin-right: 20px;
                                    width: 50px;
                                    height: 50px;
                                    float: left;
                                }
                                >.comment-main {
                                    margin-left: 70px;
                                    position: relative;
                                    >.main-top {
                                        .user {
                                            .id {
                                                vertical-align: middle;
                                            }
                                        }
                                        >.time {
                                            color: #999999;
                                        }
                                        .good {
                                            position: absolute;
                                            right: 0;
                                            top: 20px;
                                            color: #999999;
                                        }
                                    }
                                    >.pas {
                                        margin-top: 20px;
                                        padding-bottom: 30px;
                                        border-bottom: 1px solid #e5e5e5;
                                        color: #666;
                                        line-height: 26px;
                                        font-size: 14px;
                                    }
                                }
                            }
                            // >li:last-of-type {
                            //     .pas {
                            //         border-bottom: none;
                            //     }
                            // }
                        }
                    }
                }
                .comment-new {
                    margin-top: 50px;
                    >p {
                        color: #ef4238;
                        text-align: center;
                    }
                    >.comment-con {
                        margin-bottom: 30px;
                    }
                    .respon {
                        background-color: #eeeeee;
                        margin-top: 20px;
                        .respon-con {
                            padding: 15px 10px;
                            >p:first-of-type {
                                color: #999999;
                            }
                        }
                    }
                }
            }
            >.main-right {
                width: 380px;
                margin-top: 25px;
                .related {
                    .related-top {
                        >p {
                            border-left: 4px solid #ef4238;
                            padding-left: 4px;
                        }
                    }
                    .related-movie {
                        .movie-box {
                            width: 106px;
                            text-align: center;
                            margin-top: 20px;
                            p {
                                font-size: 12px;
                            }
                            >i {
                                color: #ffbb27;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #262426;
    padding: 55px 0;
    .container {
        >p {
            text-align: center;
            color: #666666;
        }
    }
}

.cat {
    position: fixed;
    right: 0;
    bottom: 40px;
}