<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/interview.css">
</head>

<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <img src="../img/logo_s.png" alt="">
        </div>
        <div class="position">
            <p>成都</p>
            <div class="trian">
            </div>
            <div class="city">
                <div class="at">
                    定位城市：成都
                </div>
                <div class="other">
                    A
                    <div>
                        <p>阿勒泰</p>
                        <p>安庆</p>
                        <p>安顺</p>
                        <p>阿克苏</p>
                        <p>安溪</p>
                    </div>
                    B
                    <div>
                        <p>北京</p>
                        <p>本溪</p>
                        <p>保定</p>
                        <p>巴彦淖尔</p>
                        <p>北海</p>
                    </div>
                    C
                    <div>
                        <p>重庆</p>
                        <p>长沙</p>
                        <p>常州</p>
                        <p>长春</p>
                        <p>承德</p>
                    </div>
                    D
                    <div>
                        <p>大连</p>
                        <p>东莞</p>
                        <p>大庆</p>
                        <p>德阳</p>
                        <p>达州</p>
                    </div>
                    E
                    <div>
                        <p>鄂尔多斯</p>
                        <p>恩施</p>
                        <p>峨眉山</p>
                    </div>
                    F
                    <div>
                        <p>福州</p>
                        <p>佛山</p>
                        <p>抚顺</p>
                        <p>防城港</p>
                    </div>
                    G
                    <div>
                        <p>广州</p>
                        <p>桂林</p>
                        <p>贵阳</p>
                        <p>广安</p>
                        <p>赣州</p>
                    </div>
                    H
                    <div>
                        <p>杭州</p>
                        <p>合肥</p>
                        <p>海口</p>
                        <p>哈尔滨</p>
                        <p>呼和浩特</p>
                    </div>
                    J
                    <div>
                        <p>锦州</p>
                        <p>济南</p>
                        <p>焦作</p>
                        <p>九江</p>
                        <p>嘉兴</p>
                    </div>
                    K
                    <div>
                        <p>昆明</p>
                        <p>开封</p>
                        <p>昆山</p>
                        <p>喀什</p>
                        <p>克拉玛依</p>
                    </div>
                    L
                    <div>
                        <p>廊坊</p>
                        <p>临汾</p>
                        <p>连云港</p>
                        <p>洛阳</p>
                        <p>乐山</p>
                    </div>
                    M
                    <div>
                        <p>牡丹江</p>
                        <p>马鞍山</p>
                        <p>茂名</p>
                        <p>梅州</p>
                        <p>绵阳</p>
                    </div>
                    N
                    <div>
                        <p>宁波</p>
                        <p>南京</p>
                        <p>南昌</p>
                        <p>南通</p>
                        <p>南宁</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="./maoyanmovie">首页</a></li>
                <li><a href="./movie">电影</a></li>
                <li><a href="./ranking">榜单</a></li>
                <li><a href="./interview">热点</a></li>
                <li><a href="./interorders">订单</a></li>
            </ul>
        </div>
        <div class="search">
            <form action="getMovieByName">
                <input type="search" placeholder="找影视剧、影人、影院"

                       id="movie_name" name="movie_name">
                <input type="submit" value="">
            </form>
        </div>
        <div class="user">
            <img src="../img/7dd82a16316ab32c8359debdb04396ef2897.png" alt="">
            <div class="trian">
            </div>
            <div class="login">
                <a href="./login" th:text="${session.user_name}==null?'登录':${session.user_name}"></a>
            </div>
        </div>
    </div>
</div>

<div class="empty">
</div>

<div align="center">
    <form action="">
        <style>
            .table11_6 table {
                width:100%;
                margin:15px 0;
                border:0;
            }
            .table11_6 th {
                background-color:#96C7ED;
                color:#000000
            }
            .table11_6,.table11_6 th,.table11_6 td {
                font-size:0.95em;
                text-align:center;
                padding:4px;
                border-collapse:collapse;
            }
            .table11_6 th,.table11_6 td {
                border: 1px solid #73b4e7;
                border-width:1px 0 1px 0;
                border:2px inset #ffffff;
            }
            .table11_6 tr {
                border: 1px solid #ffffff;
            }
            .table11_6 tr:nth-child(odd){
                background-color:#dcecf9;
            }
            .table11_6 tr:nth-child(even){
                background-color:#ffffff;
            }
        </style>
        <table class=table11_6>
            <tr>
                <th>cid</th>
                <th>影院名称</th>
                <th>影院地址</th>
                <th>操作</th>
            </tr>
            <tr th:each="cinemas:${cinemas}">
                <td th:text="${cinemas.cid}"></td>
                <td th:text="${cinemas.cinema_name}"></td>
                <td th:text="${cinemas.cinema_address}"></td>
                <td>
                    <p><a th:href="@{Getcid(cid=${cinemas.cid})}">选择</a></p>
                </td>
            </tr>
        </table>
    </form>
</div>



<div class="cat">
    <a href="#"><img src="../IMG/details_cat.png" alt=""></a>
</div>


</body>

</html>