<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/interview.css">
</head>

<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <img src="../img/logo_s.png" alt="">
        </div>
        <div class="position">
            <p>成都</p>
            <div class="trian">
            </div>
            <div class="city">
                <div class="at">
                    定位城市：成都
                </div>
                <div class="other">
                    A
                    <div>
                        <p>阿勒泰</p>
                        <p>安庆</p>
                        <p>安顺</p>
                        <p>阿克苏</p>
                        <p>安溪</p>
                    </div>
                    B
                    <div>
                        <p>北京</p>
                        <p>本溪</p>
                        <p>保定</p>
                        <p>巴彦淖尔</p>
                        <p>北海</p>
                    </div>
                    C
                    <div>
                        <p>重庆</p>
                        <p>长沙</p>
                        <p>常州</p>
                        <p>长春</p>
                        <p>承德</p>
                    </div>
                    D
                    <div>
                        <p>大连</p>
                        <p>东莞</p>
                        <p>大庆</p>
                        <p>德阳</p>
                        <p>达州</p>
                    </div>
                    E
                    <div>
                        <p>鄂尔多斯</p>
                        <p>恩施</p>
                        <p>峨眉山</p>
                    </div>
                    F
                    <div>
                        <p>福州</p>
                        <p>佛山</p>
                        <p>抚顺</p>
                        <p>防城港</p>
                    </div>
                    G
                    <div>
                        <p>广州</p>
                        <p>桂林</p>
                        <p>贵阳</p>
                        <p>广安</p>
                        <p>赣州</p>
                    </div>
                    H
                    <div>
                        <p>杭州</p>
                        <p>合肥</p>
                        <p>海口</p>
                        <p>哈尔滨</p>
                        <p>呼和浩特</p>
                    </div>
                    J
                    <div>
                        <p>锦州</p>
                        <p>济南</p>
                        <p>焦作</p>
                        <p>九江</p>
                        <p>嘉兴</p>
                    </div>
                    K
                    <div>
                        <p>昆明</p>
                        <p>开封</p>
                        <p>昆山</p>
                        <p>喀什</p>
                        <p>克拉玛依</p>
                    </div>
                    L
                    <div>
                        <p>廊坊</p>
                        <p>临汾</p>
                        <p>连云港</p>
                        <p>洛阳</p>
                        <p>乐山</p>
                    </div>
                    M
                    <div>
                        <p>牡丹江</p>
                        <p>马鞍山</p>
                        <p>茂名</p>
                        <p>梅州</p>
                        <p>绵阳</p>
                    </div>
                    N
                    <div>
                        <p>宁波</p>
                        <p>南京</p>
                        <p>南昌</p>
                        <p>南通</p>
                        <p>南宁</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="./maoyanmovie">首页</a></li>
                <li><a href="./movie">电影</a></li>
                <li><a href="./ranking">榜单</a></li>
                <li><a href="./interview">热点</a></li>
                <li><a href="./interorders">订单</a></li>
            </ul>
        </div>

        <div class="search">
            <input type="search" value="找影视剧、影人、影院">
            <input type="submit" value="">
        </div>

    </div>
</div>


















<div class="empty">
</div>

<div class="main">
    <div class="container">

        <div class="main-con">
            <div class="main-left">
                <div class="art">
                    <h1>订单页面</h1>
                    <p>猫眼电影 09-22 14:56 <img src="../IMG/viewIcon.png" alt="">22448</p>
                </div>

                <div class="orders-container">
                    <div class="profile-title">我的订单</div>


                    <div class="orders-pager">

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="mask3">
        <div class="modal-container" style="display:none">
            <div class="modal">
                <span class="icon"></span>

                <p class="tip">您确定要删除该订单嘛？删除后，不可恢复～</p>

                <div class="short btn ok-btn">确定</div>
                <div class="short btn cancel-btn">取消</div>
            </div>
        </div>
    </div>

    <table border="1" cellpadding="0" cellspacing="0" width="500">
        <thead>
        <tr>
            <th>编号</th>
            <th>用户编号</th>
            <th>电影编号</th>
            <th>日期</th>
        </tr>
        </thead>
        <tbody>
        <tr  name="id" th:each="orders : ${orders}">
            <td th:text="${orders.oid}"></td>
            <td th:text="${orders.uid}"></td>
            <td th:text="${orders.order_time}"></td>
            <td></td>
        </tr>
        </tbody>

    </table>









                <div class="footer">
                    <div class="container">
                        <p>&copy;2016猫眼电影 maoyan.com 京ICP证160733号 京ICP备16022489号-1 京公网安备 11010502030881号 网络文化经营许可证电子公告服务规则</p>
                        <p>北京猫眼文化传媒有限公司</p>
                    </div>

                </div>

                <div class="cat">
                    <a href="#"><img src="../IMG/details_cat.png" alt=""></a>
                </div>


</body>

</html>