<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/intro.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <img src="../pc图片/img/logo_s.png" alt="">
            </div>
            <div class="position">
                <p>成都</p>
                <div class="trian">
                </div>
                <div class="city">
                    <div class="at">
                        定位城市：成都
                    </div>
                    <div class="other">
                        A
                        <div>
                            <p>阿勒泰</p>
                            <p>安庆</p>
                            <p>安顺</p>
                            <p>阿克苏</p>
                            <p>安溪</p>
                        </div>
                        B
                        <div>
                            <p>北京</p>
                            <p>本溪</p>
                            <p>保定</p>
                            <p>巴彦淖尔</p>
                            <p>北海</p>
                        </div>
                        C
                        <div>
                            <p>重庆</p>
                            <p>长沙</p>
                            <p>常州</p>
                            <p>长春</p>
                            <p>承德</p>
                        </div>
                        D
                        <div>
                            <p>大连</p>
                            <p>东莞</p>
                            <p>大庆</p>
                            <p>德阳</p>
                            <p>达州</p>
                        </div>
                        E
                        <div>
                            <p>鄂尔多斯</p>
                            <p>恩施</p>
                            <p>峨眉山</p>
                        </div>
                        F
                        <div>
                            <p>福州</p>
                            <p>佛山</p>
                            <p>抚顺</p>
                            <p>防城港</p>
                        </div>
                        G
                        <div>
                            <p>广州</p>
                            <p>桂林</p>
                            <p>贵阳</p>
                            <p>广安</p>
                            <p>赣州</p>
                        </div>
                        H
                        <div>
                            <p>杭州</p>
                            <p>合肥</p>
                            <p>海口</p>
                            <p>哈尔滨</p>
                            <p>呼和浩特</p>
                        </div>
                        J
                        <div>
                            <p>锦州</p>
                            <p>济南</p>
                            <p>焦作</p>
                            <p>九江</p>
                            <p>嘉兴</p>
                        </div>
                        K
                        <div>
                            <p>昆明</p>
                            <p>开封</p>
                            <p>昆山</p>
                            <p>喀什</p>
                            <p>克拉玛依</p>
                        </div>
                        L
                        <div>
                            <p>廊坊</p>
                            <p>临汾</p>
                            <p>连云港</p>
                            <p>洛阳</p>
                            <p>乐山</p>
                        </div>
                        M
                        <div>
                            <p>牡丹江</p>
                            <p>马鞍山</p>
                            <p>茂名</p>
                            <p>梅州</p>
                            <p>绵阳</p>
                        </div>
                        N
                        <div>
                            <p>宁波</p>
                            <p>南京</p>
                            <p>南昌</p>
                            <p>南通</p>
                            <p>南宁</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="./maoyanmovie">首页</a></li>
                    <li><a href="./movie">电影</a></li>
                    <li><a href="./ranking">榜单</a></li>
                    <li><a href="./interview">热点</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="search" value="找影视剧、影人、影院">
                <input type="submit" value="">
            </div>
            <div class="user">
                <img src="../img/7dd82a16316ab32c8359debdb04396ef2897.png" alt="">
                <div class="trian">
                </div>
                <div class="login">
                    <a href="./login.html">登录</a>
                </div>
            </div>
        </div>
    </div>

    <div class="empty">
    </div>

    <div class="neck">
        <div class="container">
            <img th:src="${movies.movie_photo}" alt="">
            <div class="name">
                <div class="box1">
                    <p class="name" th:text="${movies.movie_name}">
                    <p th:text="${movies.movie_english}"></p>
                </div>
                <div class="box2">
                    <p th:text="${movies.movie_type}"></p>
                    <p th:text="${movies.movie_region}"></p>
                    <p th:text="${movies.movie_time}"></p>
                </div>
                <div class="box3">
                    <div class="heart">
                        <img src="../IMG/details_heart.png" alt="">
                        <p>想看</p>
                    </div>
                    <div class="star">
                        <img src="../IMG/details_star.png" alt="">
                        <p>评分</p>
                    </div>
                </div>
            </div>
            <div class="score">
                <div class="score-top">
                    <div class="top-box">
                        <div class="red">
                            用户评分
                        </div>
                        <div>
                            <p th:text="${movies.movie_score}"></p>
                            <p>(55.6万人评分)</p>
                        </div>
                    </div>
                    <div class="top-box">
                        <div class="red">
                            专业评分
                        </div>
                        <div>
                            <p>6.4</p>
                            <p>(45人评分)</p>
                        </div>
                    </div>
                    <div class="top-box">
                        <div class="red">
                            累计票房
                        </div>
                        <div class="office">
                            <p th:text="${movies.movie_money}"></p>
                        </div>
                    </div>
                </div>
                <div class="buy">
                    立即购票
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="main-top">
            </div>
            <div class="main-con">
                <div class="main-left">
                    <div class="nav">
                        <ul>
                            <li>介绍</li>
                            <li>演职人员</li>
                            <li>奖项</li>
                            <li>图集</li>
                        </ul>
                    </div>

                    <div class="story">
                        <p>剧情简介</p>
                        <p th:text="${movies.movie_information}">2011年10月5日，两艘中国商船在湄公河金三角水域遭遇袭击，13名中国船员全部遇难，泰国警方从船上搜出90万颗冰毒。消息传回国内，举国震惊。为了查明真相，云南缉毒总队长高刚(张涵予饰）接受了特殊任务，率领一支骁勇善战的战斗小组进入泰国境内，与潜伏在泰国的情报员方新武（彭于晏饰）碰头，二人联手深入金三角查案。经过调查，发现案件背后果然有着重重疑点，真正的凶手在嫁祸残害无辜中国船员后，不但逍遥法外，更意图利用毒品制造更大的阴谋......二人决定，不惜一切代价也要拿下真凶，打击毒品犯罪，为无辜国人讨回公道!</p>
                    </div>

                    <div class="people">
                        <p>演职人员<span>全部&gt;</span></p>
                        <div class="people-con">
                            <div class="director">
                                <p>导演</p>
                                <img src="../IMG/details_fengxiaogang_07.jpg" alt="">
                                <p>林超贤</p>
                            </div>
                            <div class="actor">
                                <p>演员</p>
                                <div class="actor-con">
                                    <div class="actor-box">
                                        <img src="../IMG/details_zhanghanyu_09.jpg" alt="">
                                        <p>张涵予</p>
                                        <p>饰：高刚</p>
                                    </div>
                                    <div class="actor-box">
                                        <img src="../IMG/details_pengyuyan_11.jpg" alt="">
                                        <p>彭于晏</p>
                                        <p>饰：方新武</p>
                                    </div>
                                    <div class="actor-box">
                                        <img src="../IMG/details_fengwenjuan_13.jpg" alt="">
                                        <p>冯文娟</p>
                                        <p>饰：郭冰</p>
                                    </div>
                                    <div class="actor-box">
                                        <img src="../IMG/details_wuxudong_15.jpg" alt="">
                                        <p>吴旭东</p>
                                        <p>饰：特警队长</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="picture">
                        <p>图集<span>全部&gt;</span></p>
                        <div class="picture-con">
                            <div class="big">
                                <img src="../IMG/details_gallery1_22.jpg" alt="">
                            </div>
                            <div class="small">
                                <img src="../IMG/details_gallery2_24.jpg" alt="">
                                <img src="../IMG/details_gallery3_26.jpg" alt="">
                                <img src="../IMG/details_gallery4_30.jpg" alt="">
                                <img src="../IMG/details_gallery5_31.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="comment-top">
                            <p>热门短评</p>
                            <p>写短评</p>
                        </div>
                        <div class="comment-con">
                            <ul>
                                <li>
                                    <div class="head">
                                        <img src="../IMG/details_guest.png" alt="">
                                    </div>
                                    <div class="main">
                                        <div class="main-top">
                                            <div class="user">
                                                <span class="id">yufujin</span>
                                                <span class="tag">购</span>
                                            </div>
                                            <div class="time">
                                                <span>9-30</span>
                                                <img src="../IMG/1112.jpg" alt="">
                                            </div>
                                            <div class="good">
                                                <img src="../IMG/good.png" alt="">
                                                <span>12058</span>
                                            </div>
                                        </div>
                                        <div class="pas">
                                            太好看了，难得的动作片，林导的作品都是经典。为什么这么好看的作品档期居然没有爵迹高，像爵迹那种垃圾片简直侮辱国产片!湄公河才是良心超棒的动作片!
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/details_guest.png" alt="">
                                    </div>
                                    <div class="main">
                                        <div class="main-top">
                                            <div class="user">
                                                <span class="id">vsx273234182</span>
                                                <span class="tag">购</span>
                                            </div>
                                            <div class="time">
                                                <span>9-30</span>
                                                <img src="../pc图片/img/star_icon02.png" alt="">
                                            </div>
                                            <div class="good">
                                                <img src="../IMG/good.png" alt="">
                                                <span>3488</span>
                                            </div>
                                        </div>
                                        <div class="pas">
                                            好看，就是后面做了两个话佬，没素质，说话可以，但是影响别人了，还从开始说到结束，记得下次去看请小声点
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/details_guest.png" alt="">
                                    </div>
                                    <div class="main">
                                        <div class="main-top">
                                            <div class="user">
                                                <span class="id">xDa392505507</span>
                                                <span class="tag">购</span>
                                            </div>
                                            <div class="time">
                                                <span>9-30</span>
                                                <img src="../IMG/1112.jpg" alt="">
                                            </div>
                                            <div class="good">
                                                <img src="../IMG/good.png" alt="">
                                                <span>2629</span>
                                            </div>
                                        </div>
                                        <div class="pas">
                                            很好看，看了才知道是真实故事改编的，如果是3D更好
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/head02.png" alt=" ">
                                    </div>
                                    <div class="main ">
                                        <div class="main-top ">
                                            <div class="user ">
                                                <span class="id">圪圪儿gg</span>
                                                <span class="tag ">购</span>
                                            </div>
                                            <div class="time ">
                                                <span>9-30</span>
                                                <img src="../pc图片/img/star_icon02.png" alt=" ">
                                            </div>
                                            <div class="good ">
                                                <img src="../IMG/good.png " alt=" ">
                                                <span>1021</span>
                                            </div>
                                        </div>
                                        <div class="pas ">
                                            如果不是真的期待，是不会大半夜的去看首映，根据真实事件的改编，让我了解到了当初湄公河案的背后，枪林弹雨，生死线上的徘徊，人性的挣扎不是简单几句结论和书面文字所能表达的;留一分不给是因为后边的英雄主义，以及结尾的仓促，而高刚回忆与方新武的一段话，让我总以为方是要留在金三角，他还活着
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/head02.png" alt=" ">
                                    </div>
                                    <div class="main ">
                                        <div class="main-top ">
                                            <div class="user ">
                                                <span class="id">郭峰帅</span>
                                                <span class="tag ">购</span>
                                            </div>
                                            <div class="time ">
                                                <span>9-30</span>
                                                <img src="../pc图片/img/star_icon02.png " alt=" ">
                                            </div>
                                            <div class="good ">
                                                <img src="../IMG/good.png " alt=" ">
                                                <span>1163</span>
                                            </div>
                                        </div>
                                        <div class="pas ">
                                            虽然场面跟敢死队美国商业片有差距，但是体现的价值是炮火乱飞的商业片所没有的，它彰显了打击犯罪的决心，展现了国家是人民利益的强有力保障，让民众深刻体会到了社会稳定的重要性，同时展示了中国对于外敌的态度不仅是“抗议，谴责”，必要时定会亮出利剑。至少它体现的正义价值远超《动画片爵迹》
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/head03.png" alt=" ">
                                    </div>
                                    <div class="main ">
                                        <div class="main-top ">
                                            <div class="user ">
                                                <span class="id">neverend</span>
                                                <span class="tag ">购</span>
                                            </div>
                                            <div class="time ">
                                                <span>10-1</span>
                                                <img src="../pc图片/img/star_icon03.png " alt=" ">
                                            </div>
                                            <div class="good ">
                                                <img src="../IMG/good.png " alt=" ">
                                                <span>507</span>
                                            </div>
                                        </div>
                                        <div class="pas ">
                                            电影总体看来有打斗，有温情，有笑点，也有一些思考比如童子军。因为之前看过电视剧版的关系，一边在看一边与电视剧版的进度进行比较，可能会影响对电影的理解。但总体来说，个人认为电视剧版更好。剧情铺垫够，展开的够庞大而且对于其中的国家情怀渲染更有力。相比之下，电影版就单薄多了，更多时候是张涵予和彭于晏的个人秀和小组秀。而其作为一个现实改编，显然是不现实的，导演对于这个度的把握还有欠缺，不得不说，剧情线是很单薄的，电视剧虽然长但其不失吸引力，就这点来说，差的多了。导演应该是港台吧，对于那种家国情怀还是不够，差很多。其实想说是烂片，但现在的环境里，算合格吧。哦，对了，看完电影脑子里一直回想的是直升机直升机
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/head03.png" alt=" ">
                                    </div>
                                    <div class="main ">
                                        <div class="main-top ">
                                            <div class="user ">
                                                <span class="id">UAw398310393</span>
                                                <span class="tag ">购</span>
                                            </div>
                                            <div class="time ">
                                                <span>9-30</span>
                                                <img src="../pc图片/img/star_icon03.png " alt=" ">
                                            </div>
                                            <div class="good ">
                                                <img src="../IMG/good.png " alt=" ">
                                                <span>310</span>
                                            </div>
                                        </div>
                                        <div class="pas ">
                                            12点的首映，超了10分钟都没开始，万达太恶心了
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/head04.png" alt=" ">
                                    </div>
                                    <div class="main ">
                                        <div class="main-top ">
                                            <div class="user ">
                                                <span class="id">rimy</span>
                                                <span class="tag ">购</span>
                                            </div>
                                            <div class="time ">
                                                <span>9-30</span>
                                                <img src="../pc图片/img/star_icon01.png " alt=" ">
                                            </div>
                                            <div class="good ">
                                                <img src="../IMG/good.png " alt=" ">
                                                <span>778</span>
                                            </div>
                                        </div>
                                        <div class="pas ">
                                            绝对的满分特效场景高科技设备完全不输给好莱坞大片
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/head01.png" alt=" ">
                                    </div>
                                    <div class="main ">
                                        <div class="main-top ">
                                            <div class="user ">
                                                <span class="id">百晴</span>
                                                <span class="tag ">购</span>
                                            </div>
                                            <div class="time ">
                                                <span>9-30</span>
                                                <img src="../pc图片/img/star_icon01.png " alt=" ">
                                            </div>
                                            <div class="good ">
                                                <img src="../IMG/good.png " alt=" ">
                                                <span>871</span>
                                            </div>
                                        </div>
                                        <div class="pas ">
                                            这部影片总的来说，是挺不错的，枪战部分很精彩，就是方新武的内心戏感觉还不是很到位，湄公河行动就是我们中国国家强大影响力的体现，也用这次行动祭奠了惨死在湄公河的十三名中国同胞，有你们这群奋战在一线的缉毒警察为祖国和人民做出的牺牲和贡献。才有我们现在远离毒品的幸福安康的生活。
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="head">
                                        <img src="../IMG/head04.png" alt=" ">
                                    </div>
                                    <div class="main ">
                                        <div class="main-top ">
                                            <div class="user ">
                                                <span class="id">QAR416956352</span>
                                                <span class="tag ">购</span>
                                            </div>
                                            <div class="time ">
                                                <span>9-30</span>
                                                <img src="../pc图片/img/star_icon01.png " alt=" ">
                                            </div>
                                            <div class="good ">
                                                <img src="../IMG/good.png " alt=" ">
                                                <span>677</span>
                                            </div>
                                        </div>
                                        <div class="pas ">
                                            <img src="../IMG/details_good.png"><img src="../IMG/details_good.png"><img src="../IMG/details_good.png">国庆档最期待的电影《湄公河行动》出乎意料的精彩，紧张刺激血腥暴力.…...电影开门见山进入主题，那个离我们并不久远的惨绝人寰杀戮事件湄公河惨案重现。把观众带到醉生梦死、龙蛇混杂、三教九流的金三角地带。好看!强烈推荐!
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="main-right ">
                    <div class="right-news">
                        <p>相关资讯</p>
                        <div class="new-box">
                            <img src="../IMG/details_ten_07.jpg" alt="">
                            <div class="new-box-main">
                                <p>《湄公河行动》上映20天票房突破10亿大关</p>
                                <p>猫眼电影<img src="../IMG/viewIcon.png">21145<img src="../IMG/commentIcon.png">211</p>
                            </div>
                        </div>
                        <div class="new-box">
                            <img src="../IMG/details_info_10.jpg" alt=" ">
                            <div class="new-box-main ">
                                <p>《湄公河行动》不仅彭于晏没有死，哮天也没有死！</p>
                                <p>橘子娱乐<img src="../IMG/viewIcon.png ">2953<img src="../IMG/commentIcon.png ">5</p>
                            </div>
                        </div>
                        <div class="new-box ">
                            <img src="../IMG/details_info3_13.jpg" alt=" ">
                            <div class="new-box-main ">
                                <p>《湄公河》2.7亿连冠，周大盘大跌52%</p>
                                <p>猫眼电影<img src="../IMG/viewIcon.png ">46646<img src="../IMG/commentIcon.png ">76</p>
                            </div>
                        </div>
                    </div>

                    <div class="right-movies">
                        <p>相关电影</p>
                        <div class="movies-con">
                            <div class="movie-box">
                                <img src="../IMG/details_related1_27.png" alt="">
                                <p>反贪风暴2</p>
                                <i>8.3</i>
                            </div>
                            <div class="movie-box">
                                <img src="../IMG/details_related2_29.png" alt="">
                                <p>追凶者也</p>
                                <i>8.5</i>
                            </div>
                            <div class="movie-box">
                                <img src="../IMG/details_related3_31.png" alt="">
                                <p>惊天破</p>
                                <i>6.6</i>
                            </div>
                            <div class="movie-box">
                                <img src="../IMG/details_related4_41.png" alt="">
                                <p>机械师2：复活</p>
                                <i>8.9</i>
                            </div>
                            <div class="movie-box">
                                <img src="../IMG/details_related5_32.jpg" alt="">
                                <p>巴黎危机</p>
                                <i>8.3</i>
                            </div>
                            <div class="movie-box">
                                <img src="../IMG/details_related6_43.jpg" alt="">
                                <p>寒战2</p>
                                <i>8.6</i>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p>&copy;2016猫眼电影 maoyan.com 京ICP证160733号 京ICP备16022489号-1 京公网安备 11010502030881号 网络文化经营许可证电子公告服务规则</p>
            <p>北京猫眼文化传媒有限公司</p>
        </div>

    </div>

    <div class="cat">
        <a href="#"><img src="../IMG/details_cat.png" alt=""></a>
    </div>

</body>

</html>