<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>猫眼电影</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/login.css">
</head>

<body>
<div class="login-con">
    <div class="login-header">
        <div class="logo">
            <img src="../IMG/logo_in.png" alt="">
        </div>
    </div>
    <div class="login-main">
        <div class="main-pic">
            <img src="../IMG/login_in.png" alt="">
        </div>
        <div class="main-input">
            <form action="maoyanmovie">
                <div class="info">
                    <h3 th:text="${msg}"></h3>
                </div>
                <div class="submit">
                    <input type="submit" value="返回首页">
                </div>
            </form>
            <form action="logout">
                <div class="submit">
                    <input type="submit" value="登录/退出">
                </div>
            </form>
            <form action="add">
                <div class="submit">
                    <input type="submit" value="更换头像" href="/add">
                </div>
            </form>

        </div>
    </div>

    <div class="login-footer">
        <p>&copy;02016美团网团购 meituan.com京ICP证070791号京公网安备11010502025545号电子公告服务规则</p>
    </div>
</div>

</body>

</html>