<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/login.css">
</head>

<body>
    <div class="login-con">
        <div class="login-header">
            <div class="logo">
                <img src="../IMG/logo_in.png" alt="">
            </div>
        </div>
        <div class="login-main">
            <div class="main-pic">
                <img src="../IMG/login_in.png" alt="">
            </div>
            <div class="main-input">
                <form action="loginUserByTel">
                    <div class="head">
                        <p>
                            <span>账号登录</span><span>手机动态码登录<span></span></span>
                        </p>
                    </div>

                    <div class="info">
                        <input type="text" value="手机号" id="user_tel" name="user_tel">
                        <input type="text" value="  密码" id="user_password" name="user_password">
                    </div>
                    <div class="choose">
                        <input type="checkbox" name="seven" id="seven">
                        <label for="seven">7天内自动登录</label>
                        <p><a href="#">忘记密码？</a></p>
                    </div>
                    <div class="submit">
                        <input type="submit" value="登录">
                    </div>
                    <div class="tail">
                        <p>还没有账号？<span><a href="./register">免费注册</a></span></p>
                    </div>


                </form>
            </div>
        </div>
        <div class="login-footer">
            <p>&copy;02016美团网团购 meituan.com京ICP证070791号京公网安备11010502025545号电子公告服务规则</p>
        </div>
    </div>

</body>

</html>