<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/movie.css">
</head>

<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <img src="../img/logo_s.png" alt="">
        </div>
        <div class="position">
            <p>成都</p>
            <div class="trian">
            </div>
            <div class="city">
                <div class="at">
                    定位城市：成都
                </div>
                <div class="other">
                    A
                    <div>
                        <p>阿勒泰</p>
                        <p>安庆</p>
                        <p>安顺</p>
                        <p>阿克苏</p>
                        <p>安溪</p>
                    </div>
                    B
                    <div>
                        <p>北京</p>
                        <p>本溪</p>
                        <p>保定</p>
                        <p>巴彦淖尔</p>
                        <p>北海</p>
                    </div>
                    C
                    <div>
                        <p>重庆</p>
                        <p>长沙</p>
                        <p>常州</p>
                        <p>长春</p>
                        <p>承德</p>
                    </div>
                    D
                    <div>
                        <p>大连</p>
                        <p>东莞</p>
                        <p>大庆</p>
                        <p>德阳</p>
                        <p>达州</p>
                    </div>
                    E
                    <div>
                        <p>鄂尔多斯</p>
                        <p>恩施</p>
                        <p>峨眉山</p>
                    </div>
                    F
                    <div>
                        <p>福州</p>
                        <p>佛山</p>
                        <p>抚顺</p>
                        <p>防城港</p>
                    </div>
                    G
                    <div>
                        <p>广州</p>
                        <p>桂林</p>
                        <p>贵阳</p>
                        <p>广安</p>
                        <p>赣州</p>
                    </div>
                    H
                    <div>
                        <p>杭州</p>
                        <p>合肥</p>
                        <p>海口</p>
                        <p>哈尔滨</p>
                        <p>呼和浩特</p>
                    </div>
                    J
                    <div>
                        <p>锦州</p>
                        <p>济南</p>
                        <p>焦作</p>
                        <p>九江</p>
                        <p>嘉兴</p>
                    </div>
                    K
                    <div>
                        <p>昆明</p>
                        <p>开封</p>
                        <p>昆山</p>
                        <p>喀什</p>
                        <p>克拉玛依</p>
                    </div>
                    L
                    <div>
                        <p>廊坊</p>
                        <p>临汾</p>
                        <p>连云港</p>
                        <p>洛阳</p>
                        <p>乐山</p>
                    </div>
                    M
                    <div>
                        <p>牡丹江</p>
                        <p>马鞍山</p>
                        <p>茂名</p>
                        <p>梅州</p>
                        <p>绵阳</p>
                    </div>
                    N
                    <div>
                        <p>宁波</p>
                        <p>南京</p>
                        <p>南昌</p>
                        <p>南通</p>
                        <p>南宁</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="./maoyanmovie">首页</a></li>
                <li><a href="./movie">电影</a></li>
                <li><a href="./ranking">榜单</a></li>
                <li><a href="./interview">热点</a></li>
                <li><a href="./interorders">订单</a></li>
            </ul>
        </div>

        <div class="search">
            <input type="search" value="找影视剧、影人、影院">
            <input type="submit" value="">
        </div>

    </div>
</div>

    <div class="empty">
    </div>

    <div class="choose">
        <div class="choose-con">
            <ul>
                <li>正在热映</li>
                <li>即将上映</li>
                <li>经典影片</li>
            </ul>
        </div>

    </div>

    <div class="choice">
        <div class="container">
            <div class="choice-con">
                <div class="line">
                    <div class="tag">
                        类型：
                    </div>
                    <div class="type-main">
                        <ul>
                            <li>全部</li>
                            <li>爱情</li>
                            <li>喜剧</li>
                            <li>动画</li>
                            <li>剧情</li>
                            <li>恐怖</li>
                            <li>惊悚</li>
                            <li>科幻</li>
                            <li>动作</li>
                            <li>悬疑</li>
                            <li>犯罪</li>
                            <li>冒险</li>
                            <li>战争</li>
                            <li>奇幻</li>
                            <li>运动</li>
                            <li>家庭</li>
                            <li>古装</li>
                            <li>武侠</li>
                            <li>西部</li>
                            <li>历史</li>
                            <li>传记</li>
                            <li>情色</li>
                            <li>歌舞</li>
                            <li>黑色电影</li>
                            <li>短片</li>
                            <li>纪录片</li>
                            <li>其他</li>
                        </ul>
                    </div>
                </div>
                <div class="line">
                    <div class="tag">
                        区域：
                    </div>
                    <div class="type-main">
                        <ul>
                            <li>全部</li>
                            <li>大陆</li>
                            <li>美国</li>
                            <li>韩国</li>
                            <li>日本</li>
                            <li>中国香港</li>
                            <li>中国台湾</li>
                            <li>泰国</li>
                            <li>印度</li>
                            <li>法国</li>
                            <li>英国</li>
                            <li>俄罗斯</li>
                            <li>意大利</li>
                            <li>西班牙</li>
                            <li>德国</li>
                            <li>波兰</li>
                            <li>澳大利亚</li>
                            <li>伊朗</li>
                            <li>其他</li>

                        </ul>
                    </div>
                </div>
                <div class="line">
                    <div class="tag">
                        年代：
                    </div>
                    <div class="type-main">
                        <ul>
                            <li>全部</li>
                            <li>2017以后</li>
                            <li>2017</li>
                            <li>2016</li>
                            <li>2015</li>
                            <li>2014</li>
                            <li>2013</li>
                            <li>2012</li>
                            <li>2011</li>
                            <li>2000-2010</li>
                            <li>90年代</li>
                            <li>80年代</li>
                            <li>70年代</li>
                            <li>更早</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="movie">
        <div class="movie-con">
            <ul>
                <li><span></span><span>按热门排序</span></li>
                <li><span></span><span>按时间排序</span></li>
                <li><span></span><span>按评价排序</span></li>
            </ul>
            <div class="movie-list">
                <dl>
                    <dd>
                        <img src="../IMG/movies_01.png" alt="">
                        <div>
                            <p>反贪风暴</p>
                            <i>8.3</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_02.png" alt="">
                        <div>
                            <p>使徒行者</p>
                            <i>8.9</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_03.png" alt="">
                        <div>
                            <p>盗墓笔记</p>
                            <i>8.0</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_04.png" alt="">
                        <div>
                            <p>魔兽</p>
                            <i>9.0</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_05.png" alt="">
                        <div>
                            <p>美人鱼</p>
                            <i>9.0</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_06.png" alt="">
                        <div>
                            <p>绝地逃亡</p>
                            <i>8.5</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_07.png" alt="">
                        <div>
                            <p>追凶者也</p>
                            <i>8.5</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_08.png" alt="">
                        <div>
                            <p>九条命</p>
                            <i>8.7</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_09.png" alt="">
                        <div>
                            <p>自杀小队</p>
                            <i>9.0</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_10.png" alt="">
                        <div>
                            <p>微微一笑很倾城</p>
                            <i>8.4</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_11.png" alt="">
                        <div>
                            <p>大鱼海棠</p>
                            <i>8.4</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_12.jpg" alt="">
                        <div>
                            <p>谍影重重5</p>
                            <i>8.3</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_13.png" alt="">
                        <div>
                            <p>寒战2</p>
                            <i>8.6</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_14.png" alt="">
                        <div>
                            <p>美国队长3</p>
                            <i>8.6</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_15.png" alt="">
                        <div>
                            <p>爱宠大机密</p>
                            <i>9.0</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_16.jpg" alt="">
                        <div>
                            <p>巴黎危机</p>
                            <i>8.3</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_17.jpg" alt="">
                        <div>
                            <p>速度与激情8</p>
                            <i>暂无评分</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_18.jpg" alt="">
                        <div>
                            <p>生化危机6：终章</p>
                            <i>暂无评分</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_19.jpg" alt="">
                        <div>
                            <p>釜山行</p>
                            <i>9.0</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_20.jpg" alt="">
                        <div>
                            <p>疯狂动物城</p>
                            <i>9.5</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_21.jpg" alt="">
                        <div>
                            <p>变形金刚5：最后的骑士</p>
                            <i>暂无评分</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_22.jpg" alt="">
                        <div>
                            <p>速度与激情7</p>
                            <i>9.6</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_23.jpg" alt="">
                        <div>
                            <p>X战警：天启</p>
                            <i>8.9</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_24.jpg" alt="">
                        <div>
                            <p>惊天魔盗团2</p>
                            <i>8.6</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_25.jpg" alt="">
                        <div>
                            <p>金刚狼3：殊死一战</p>
                            <i>暂无评分</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_26.jpg" alt="">
                        <div>
                            <p>北京遇上西雅图之不二情书</p>
                            <i>8.5</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_27.jpg" alt="">
                        <div>
                            <p>夏有乔木 雅望天堂</p>
                            <i>8.0</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_28.jpg" alt="">
                        <div>
                            <p>奇幻森林</p>
                            <i>8.9</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_29.jpg" alt="">
                        <div>
                            <p>危城</p>
                            <i>8.3</i>
                        </div>
                    </dd>
                    <dd>
                        <img src="../IMG/movies_30.jpg" alt="">
                        <div>
                            <p>封神传奇</p>
                            <i>6.2</i>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="page-con">
            <div class="page-box">
                1
            </div>
            <div class="page-box">
                2
            </div>
            <div class="page-box">
                3
            </div>
            <div class="page-box">
                4
            </div>
            <div class="page-box">
                5
            </div>
            <div class="page-box">
                ...
            </div>
            <div class="page-box">
                23802
            </div>
            <div class="page-box">
                下一页
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p>&copy;2016猫眼电影 maoyan.com 京ICP证160733号 京ICP备16022489号-1 京公网安备 11010502030881号 网络文化经营许可证电子公告服务规则</p>
            <p>北京猫眼文化传媒有限公司</p>
        </div>

    </div>

    <div class="cat">
        <a href="#"><img src="../IMG/details_cat.png" alt=""></a>
    </div>


</body>

</html>