<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>猫眼电影</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/register.css">
</head>

<body>
    <div class="header">
        <div class="con">
            <div class="logo">
                <img src="../IMG/logo.png" alt="">
            </div>

        </div>
    </div>

    <div class="register-main">
        <div class="con">
            <form action="saveUserByUid" method="post">
                <span>手机号码</span>
                <input type="text" class="input" id="user_tel" name="user_tel"><br/>
                <span>注册成功后，全美团通用</span><br/>
                    用户昵称<input type="text" class="input" id="user_name" name="user_name"><br/>
                <span>用户名最多6个字</span><br/>
                    创建密码<input type="password" class="input" id="user_password" name="user_password"><br/>
                    确认密码<input type="password" class="input" id="user_repassword" name="user_repassword"><br/>
                <span>创建密码和确认密码必须一致</span><br/>
                <div class="agree">
                    <input type="submit" value="同意以下协议并注册">
                </div>
            </form>

        </div>
    </div>



    <div class="deal">
        <div class="con">
            <a href="">《美团网用户协议》</a>
        </div>
    </div>

    <div class="tail">
        <div class="con">
            <p>&copy;美团网团购 meituan.com京ICP证070791号京公网安备11010502025545号电子公告服务规则</p>
        </div>
    </div>

</body>

</html>