<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/register.css">
</head>

<body>
    <div class="header">
        <div class="con">
            <div class="logo">
                <img src="../IMG/logo.png" alt="">
            </div>

        </div>
    </div>

    <div class="register-main">
        <div class="con">
            <form action="">
                <div class="phone">
                    <div>
                        <span>手机号</span>
                        <input type="text" class="input">
                        <span>注册成功后，全美团通用</span>
                    </div>
                    <input type="button" value="免费获取短信动态码">
                </div>

                <div class="message">
                    <span>短信动态码</span>
                    <input type="text" class="input">
                </div>

                <div class="password">
                    <span>创建密码</span>
                    <input type="text" class="input">
                    <div class="strength">
                        <div>弱</div>
                        <div>中</div>
                        <div>强</div>
                    </div>
                    <span>确认密码</span>
                    <input type="text" class="input">
                </div>

                <div class="agree">
                    <input type="submit" value="同意以下协议并注册">
                </div>
            </form>

        </div>

    </div>

    <div class="deal">
        <div class="con">
            <a href="">《美团网用户协议》</a>
        </div>
    </div>

    <div class="tail">
        <div class="con">
            <p>&copy;美团网团购 meituan.com京ICP证070791号京公网安备11010502025545号电子公告服务规则</p>
        </div>
    </div>

</body>

</html>