<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hut.maoyanmovie.dao.CinemaMapper">

    <resultMap type="com.hut.maoyanmovie.bean.Cinema" id="CinemaMapper">
        <id property="cid" column="cid"/>
        <result property="cinema_name" column="cinema_name"/>
        <result property="cinema_address" column="cinema_address"/>
    </resultMap>

    <select id="getAllCinema" resultMap="CinemaMapper">
        select
            *
        from
            cinema
    </select>


</mapper>