<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hut.maoyanmovie.dao.MovieMapper">

    <resultMap id="movieMap" type="com.hut.maoyanmovie.bean.Movie">
        <id property="mid" column="mid"/>
        <result property="movie_name" column="movie_name"/>
        <result property="movie_time" column="movie_time"/>
        <result property="movie_type" column="movie_type"/>
        <result property="movie_information" column="movie_information"/>
        <result property="movie_region" column="movie_region"/>
        <result property="movie_photo" column="movie_photo"/>
        <result property="movie_score" column="movie_score"/>
        <result property="movie_money" column="movie_money"/>
    </resultMap>

    <select id="getMovieByName" resultMap="movieMap">
    select
    *
    from
    movie
    where
    movie_name like '%${value}%'
  </select>
</mapper>