<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hut.maoyanmovie.dao.UserMapper">

    <select id="loginUserByTel" resultType="com.hut.maoyanmovie.bean.User">
        SELECT
        uid,user_name,user_tel,user_password
        FROM
        user
        WHERE
        user_tel = #{user_tel} and
        user_password = #{user_password}
    </select>

    <insert id="saveUserByUid">
        insert into
        user (user_name, user_password, user_tel)
        value (#{user_name},#{user_password},#{user_tel})
    </insert>

    <delete id="deleteUserByUid">
        delete
        from user
        where uid = #{uid}
    </delete>

    <update id="updateUserByUid">
        update user set
        user_name = #{user_name},
        user_password = #{user_password},
        user_tel = #{user_tel}
        where
        uid = #{uid}
    </update>

    <select id="selectAll" resultType="com.hut.maoyanmovie.bean.User">
        select uid , user_name , user_tel from user
    </select>

    <select id="save_myself" resultType="com.hut.maoyanmovie.bean.User">
        select uid from user where uid = #{uid}
    </select>
</mapper>
